/**
 * Pimcore
 *
 * This source file is available under two different licenses:
 * - GNU General Public License version 3 (GPLv3)
 * - Pimcore Enterprise License (PEL)
 * Full copyright and license information is available in
 * LICENSE.md which is distributed with this source code.
 *
 * @copyright  Copyright (c) Pimcore GmbH (http://www.pimcore.org)
 * @license    http://www.pimcore.org/license     GPLv3 and PEL
 */

@import '/pimcore/static6/js/lib/ext/classic/theme-triton/resources/theme-triton-all.css';
@import 'ext-modifications.css';
@import 'icons.css';

.cke * {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
}

.cke-code-editor textarea {
    font-family: "courier new", courier !important;
}

/* pimcore editables */

.pimcore_tag_image {
    position: relative;
}

.pimcore_tag_image img {
    max-width: 100%;
    max-height: 100%;
}

.pimcore_tag_image_alt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.pimcore_block_buttons {
	padding: 10px 0 5px 0;
    opacity: .3;
}

.pimcore_block_entry_over .pimcore_block_buttons, .pimcore_block_entry_over {
    opacity: 1;
}

.pimcore_area_buttons {
    position: absolute;
    left: -40px;
    top:-8px;
    width: 25px;
    z-index: 10;
    display: none;
}

.pimcore_area_buttons.right {
    right: 10px;
    left: auto;
}

.pimcore_area_buttons.top {
    width: 100%;
    left: 0;
    top: -40px;
    padding-bottom: 15px;
}

.pimcore_area_buttons_inner{
    background: #3c3f41;
    border-left: 1px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pimcore_area_buttons:after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-right: 8px solid #000000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    left: 100%;
    border-left: 8px solid #000000;
    border-right: 0px solid #000000;
}

.pimcore_area_buttons.right:after {
    left: -8px;
    border-left: 0px solid #000000;
    border-right: 8px solid #000000;
}

.pimcore_area_buttons.top:after {
    left: 0px;
    top: 25px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-bottom: 0px solid #000000;
    border-top: 8px solid #000000;
}

.pimcore_block_buttons .x-form-trigger-default,
.pimcore_area_buttons .x-form-trigger-default{
    line-height: 24px;
    width:22px;
}

.pimcore_block_buttons .x-form-field,
.pimcore_area_buttons .x-form-field {
    padding: 1px 4px;
    min-height: 24px;
}

.pimcore_block_buttons .x-btn {
    padding: 4px;
    background: #f6f6f6;
    border-color: #e4e4e4;
    border-left: 0;
}

.pimcore_block_buttons .x-btn-over {
    background-color: #ececec;
}

.pimcore_area_buttons .x-btn {
    padding: 4px;
    border-left: 0;
}

.pimcore_block_plus,
.pimcore_block_minus,
.pimcore_block_up,
.pimcore_block_down,
.pimcore_block_amount,
.pimcore_block_type,
.pimcore_block_options {
    float: left;
}

.pimcore_area_buttons .pimcore_block_plus,
.pimcore_area_buttons .pimcore_block_minus,
.pimcore_area_buttons .pimcore_block_up,
.pimcore_area_buttons .pimcore_block_down,
.pimcore_area_buttons .pimcore_block_amount,
.pimcore_area_buttons .pimcore_block_type,
.pimcore_area_buttons .pimcore_block_options,
.pimcore_area_buttons .pimcore_block_visibility {
    float: none;
}

.pimcore_area_buttons.top .pimcore_block_plus,
.pimcore_area_buttons.top .pimcore_block_minus,
.pimcore_area_buttons.top .pimcore_block_up,
.pimcore_area_buttons.top .pimcore_block_down,
.pimcore_area_buttons.top .pimcore_block_amount,
.pimcore_area_buttons.top .pimcore_block_type,
.pimcore_area_buttons.top .pimcore_block_options,
.pimcore_area_buttons.top .pimcore_block_visibility {
    float: left;
}

.pimcore_block_clear {
	clear: both;
}

.pimcore_block_label {
    display: none;
}

.pimcore_area_buttons.top .pimcore_block_label {
    display: inline-block;
    float: left;
    color: #ccc;
    line-height: 25px;
    font-size: 10px;
    padding-left: 10px;
}

.pimcore_block_button_plus,
.pimcore_block_button_minus,
.pimcore_block_button_up,
.pimcore_block_button_down,
.pimcore_block_button_type {
	display: inline-block !important;
}

.pimcore_block_button_plus button,
.pimcore_block_button_minus button,
.pimcore_block_button_up button,
.pimcore_block_button_down button {
	width: 16px;
}

.pimcore_block_entry {
	clear:both;
}

.pimcore_area_entry {
    position: relative;
}

.pimcore_block_amount {
    /*width: 40px;*/
}

.pimcore_block_type,
.pimcore_block_type button {
    cursor:default !important;
}

.pimcore_block_button_type,
.pimcore_block_button_type button {
    cursor: move !important;
}


.pimcore_area_dropzone {
    height: 20px;
    background: #a3bae9;
    border:2px dashed #fff;
    clear:both;
}

.pimcore_area_dropzone_hover {
    background: #6ec563;
}

.pimcore_wysiwyg_mask {
	position: absolute;
	z-index: 9997;
	background: #ff6600;
	/* beacause of IE */
	-moz-opacity: 0;
    -webkit-opacity: 0;
	opacity: 0;
	filter: Alpha(opacity=0);
}

/* default styles for wysiwyg (overwrite ExtJS reset CSS) */
.pimcore_tag_wysiwyg {
    position:relative;
}

.pimcore_iframe_mask {
	position: absolute;
	z-index: 9996;
}

.pimcore_tag_link {
	position: relative;
	padding: 0 30px 0 0;
}

.pimcore_tag_link .pimcore_edit_link_button {
	position: absolute;
    right: 0;
	top: -3px;
}

.pimcore_tag_link .pimcore_open_link_button {
    position: absolute;
    right: -30px;
    top: -3px;
}


.pimcore_tag_link .x-btn-default-small {
    padding: 3px;
}

.pimcore_tag_snippet_empty {
	border: 1px solid #d0d0d0 !important;
	background:url(/pimcore/static6/img/flat-color-icons/target.svg) center center/45px no-repeat #f9fbfb !important;
}

.pimcore_tag_image_empty {
	border: 1px solid #d0d0d0 !important;
	background:url(/pimcore/static6/img/flat-color-icons/target.svg) center center/45px no-repeat #f9fbfb !important;
    min-height: 50px;
}

.pimcore_tag_video_empty {
	border: 1px solid #d0d0d0 !important;
    background:url(/pimcore/static6/img/flat-color-icons/film_reel.svg) center center/50px no-repeat #f9fbfb !important;
    cursor: pointer;
}

.pimcore_tag_embed {
    position: relative;
}

.pimcore_tag_embed_empty {
    border: 1px solid #d0d0d0 !important;
    background:url(/pimcore/static6/img/flat-color-icons/bricks.svg) center center/50px no-repeat #f9fbfb !important;
    cursor: pointer;
    min-height:100px;
}

.pimcore_tag_href input{
	background: url(/pimcore/static6/img/flat-color-icons/target.svg) right center/20px no-repeat #fff;
	cursor: default;
}

.pimcore_tag_droptarget {
    background: url(/pimcore/static6/img/flat-color-icons/target.svg) center center/20px no-repeat;
    position:absolute;
    width:20px;
    height:20px;
    right:5px;
    top:5px;
}


.pimcore_tag_block .x5-btn {
    width: auto;
    clear: none;
    border-collapse: separate;
    margin: 0;
    table-layout: auto;
}

.pimcore_tag_renderlet {
    position: relative;
}

.pimcore_tag_snippet {
    position: relative;
}

.pimcore_tag_snippet .x5-panel-body {
	background:none;
	overflow:hidden !important;
}

.pimcore_tag_renderlet .x5-panel-body {
	overflow:hidden !important;
	background:none;
}

.pimcore_tag_table {
    color: black !important;
}

.pimcore_droptarget_input  {
	background: url(/pimcore/static6/img/flat-color-icons/target.svg) right 2px/20px no-repeat #fff !important;
	cursor: default;
}

.pimcore_area_content {
    position:relative;
}

.pimcore_area_editmode.pimcore_area_editmode_hidden {
    position: absolute;
    top:-2000px;
    left:-10000px;
}

.pimcore_area_entry .pimcore_area_edit_button,
.pimcore_tag_area .pimcore_area_edit_button {
    position:absolute;
    width:25px;
    height:25px;
    right:5px;
    top:5px;
}

.pimcore_areablock_toolbar {
    opacity: .9;
    border-color: #000;
}

.pimcore_areablock_toolbar.x-layer {
    position: fixed !important;
}

.pimcore_areablock_toolbar .x-btn-default-small {
    padding-top: 3px;
    padding-bottom: 3px;
    background: #000;
    border-bottom: 1px solid #ccc;
}

.pimcore_areablock_toolbar .x-btn-default-small:last-child {
    border:0;
}

.pimcore_areablock_toolbar .x-btn-button-center {
    text-align: left;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}


.pimcore_tag_video {
    position: relative;
}
.pimcore_tag_video.x5-masked {
    min-height: 50px;
}

.pimcore_video_edit_button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    z-index: 10001;
}

.pimcore_image_marker {
    background: url(/pimcore/static6/img/icon/marker.png);
    width: 20px;
    height: 35px;
    cursor: pointer;
    position: absolute;
}

.pimcore_image_hotspot {
    cursor: pointer;
    position: absolute;
    background: rgba(0, 255, 0, 0.5);
}

.pimcore_pdf_hotspot {
    background: rgba(0, 255, 0, 0.5);
}

.hasMetadata {
    color: #db1d09;
}

.pimcore_tag_multihref .x5-panel, .pimcore_tag_table .x5-panel  {
    border:1px solid #000;
}

.pimcore_tag_select, .pimcore_tag_checkbox {
    display: inline-block;
}

/* support for placeholders */
.pimcore_tag_input[contenteditable=true][data-placeholder]:empty:before,
.pimcore_tag_textarea[contenteditable=true][data-placeholder]:empty:before,
.pimcore_wysiwyg.empty[contenteditable=true][data-placeholder]:before {
    cursor: text; /* For chrome */
    content: attr(data-placeholder);
    display: block; /* For firefox */
    color:#BABABA;
}

.pimcore_wysiwyg.empty[contenteditable=true]:before {
    height: 0; /* For firefox and Edge */
}

/* text fields: hover, focus, ... states */
.pimcore_tag_input, .pimcore_tag_wysiwyg, .pimcore_tag_textarea, .pimcore_tag_textarea:focus .pimcore_wysiwyg:focus {
    outline:0 auto;
    overflow-y: visible;
}

.pimcore_tag_input.empty, .pimcore_wysiwyg.empty, .pimcore_tag_textarea.empty {
    box-shadow: 0 0 5px 2px #E8E8E8;
}

.pimcore_wysiwyg.empty:after {
    /* this is a firefox fix, to set the hight automatically to the font height, otherwise the height of the input can be 0px */
    content: "\0000a0";
}

.pimcore_tag_input:hover, .pimcore_wysiwyg:hover, .pimcore_tag_textarea:hover {
    box-shadow: 0 0 5px 2px #BABABA;
}

.pimcore_tag_input:focus, .pimcore_wysiwyg:focus, .pimcore_tag_textarea:focus {
    box-shadow: none;
}

.pimcore_tag_textarea {
    white-space: pre-line;
    width: 100%;
}

.pimcore_tag_date input {
    min-width: 80px;
    line-height: 24px;
}

.pimcore_area_hidden .pimcore_area_content {
    filter: blur(1px);
    opacity: 0.5;
}

.pimcore_tag_scheduledblock .x-slider-thumb.selected {
    background-color: #ffefbb;
}

.pimcore_tag_scheduledblock .x-slider-thumb.selected:before {
    color: #e9d097;
}

/* ExtJS specific overrides */

.x-btn {
    text-decoration: none !important;
}
